@import "tailwindcss";

:root {
  /* Primary: Azul */
  --primary-100: hsl(235, 100%, 97%);
  --primary-200: hsl(234, 100%, 87%);
  --primary-300: hsl(230, 97%, 75%);
  --primary-400: hsl(227, 94%, 63%);
  --primary-500: hsl(225, 90%, 50%);
  --primary-600: hsl(220, 85%, 40%);
  --primary-700: hsl(215, 80%, 30%);
  --primary-800: hsl(210, 75%, 20%);
  --primary-900: hsl(205, 70%, 10%);

  /* Accent: Miami Marmalade */
  --secondary-100: hsl(46, 100%, 97%);
  --secondary-200: hsl(44, 100%, 87%);
  --secondary-300: hsl(42, 100%, 75%);
  --secondary-400: hsl(40, 100%, 63%);
  --secondary-500: hsl(38, 100%, 50%);
  --secondary-600: hsl(36, 100%, 40%);
  --secondary-700: hsl(34, 100%, 30%);
  --secondary-800: hsl(32, 100%, 20%);
  --secondary-900: hsl(30, 100%, 10%);

  /* Do przemyślenia ponizsze kolory */
  /* --success-100: hsl(155, 70%, 95%);
  --success-300: hsl(155, 85%, 66%);
  --success-500: hsl(155, 90%, 44%);
  --success-700: hsl(155, 95%, 30%);
  --success-900: hsl(155, 95%, 18%);

  --warning-100: hsl(40, 100%, 96%);
  --warning-300: hsl(40, 95%, 74%);
  --warning-500: hsl(40, 89%, 58%);
  --warning-700: hsl(40, 89%, 46%);
  --warning-900: hsl(40, 89%, 30%);

  --error-100: hsl(356, 82%, 96%);
  --error-300: hsl(356, 72%, 72%);
  --error-500: hsl(356, 67%, 58%);
  --error-700: hsl(356, 67%, 46%);
  --error-900: hsl(356, 67%, 32%);

  --info-100: hsl(205, 100%, 96%);
  --info-300: hsl(205, 92%, 74%);
  --info-500: hsl(205, 84%, 55%);
  --info-700: hsl(205, 84%, 44%);
  --info-900: hsl(205, 84%, 30%); */

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /* Neutral */
  --neutral-100: hsl(270, 25%, 98%);
  --neutral-200: hsl(270, 20%, 90%);
  --neutral-300: hsl(270, 15%, 80%);
  --neutral-400: hsl(270, 10%, 70%);
  --neutral-500: hsl(270, 5%, 60%);
  --neutral-600: hsl(270, 0%, 50%);
  --neutral-700: hsl(270, 0%, 40%);
  --neutral-800: hsl(270, 0%, 30%);
  --neutral-900: hsl(270, 0%, 20%);
}

* {
  font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
